html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

header {
    width: auto;
    background-color: rgba(243, 37, 37, 0.945);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: unset;
}

footer {
    width: 100%;
    height: 280vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20vh;
    background-color: #30471E;
    position: relative;
    top: 0;
}

footer h3 {
    font-size: 1.3rem;
    padding-bottom: 2vh;
    border-bottom: #000000 solid 1vw;
    width: 40vw;
    text-align: center;
}

.nav-bar-pc {
    display: none;
}

.icones {
    display: flex;
    flex-direction: column;
}

.icones img {
    padding: 2vw;
}

.contato,
.maps,
.social,
.unidade {
    margin: 2vw;
    height: 40vh;
}

.contato,
.maps p,
.social,
.unidade {
    font-size: 1.2rem;
}

.creditos {
    height: 10vh;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mostrar-menu {
    cursor: pointer;
}

input.checkbox-menu[type="checkbox"] {
    display: none;
    appearance: unset;
    -webkit-appearance: none;
}

input.checkbox-menu[type="checkbox"]:checked ~ div.menu-recolhivel {
    opacity: 1;
    visibility: visible;
}

.menu-icon {
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
}

.menu-recolhivel {
    display: inline-block;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menu li {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 5px;
}

ul.menu li a {
    color: #000000;
    display: block;
    padding: 5px;
    text-decoration: none;
}

ul.menu li a:hover {
    color: #000000;
    text-decoration: underline;
}

.conta {
    display: flex;
    flex-direction: row;
}

.foto-perfil {
    margin: 1vw;
}

.foto-perfil img {
    border-radius: 50%;
}

.perfil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.perfil h4 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
}

.perfil p {
    border-radius: 5px;
    letter-spacing: 0.2em;
    padding: 1.5vw;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: rgba(113, 20, 20, 0.945);
}

.perfil p:hover {
    background-color: rgba(215, 34, 34, 0.945);
}

.carrinho {
    background-color: rgb(212, 209, 209);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carrinho img {
    margin: 2vw;
    padding-right: 1vw;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.itens {
    display: none;
}

.foto img {
    padding-right: 5vw;
}

.produto {
    padding: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: grey solid 1px;
    font-size: 1.5rem;
}

.produto p{
    margin: 2vw;
}

.preço {
    color: rgb(144, 212, 43);
    font-weight: bold;
}

.quantidade {
    padding: 1vw;
    margin: auto;
    border-radius: 20%;
    margin: auto;
    width: 22vw;
    height: 6vh;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(244, 45, 45, 0.945);
}

.quantidade p{
    margin: 0;
}

.quantidade img:active{
    transform: scale(0.9);
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos > p {
    font-weight: 800;
}

.caixa-texto {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5vw;
    align-items: center;
}

.form__field {
    border: 1px solid silver !important;
    border-radius: 5px;
    box-sizing: border-box;
    color: #313a46;
    height: 4vh;
    padding-right: 2vw;
    margin-right: 2vw;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    top: 2vh;
    border-right: none;
    border-left: none;
}

.form__label {
    background-color: white;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    color: #9b9b9b;
    display: block;
    font-size: 0.9em;
    margin-left: 1vh;
    padding: 0 1vw;
    pointer-events: none;
    position: absolute;
    transition: 0.2s;
}

.form__field:focus {
    border: 1px solid #B9192C !important;
    outline: none;
}

.form__field:focus ~ .form__label {
    background-color: white;
    border-right: 1px solid #B9192C;
    border-left: 1px solid #B9192C;
    color: #B9192C;
    font-size: 0.9em;
    margin-left: 1vh;
    padding: 0 2vw;
    position: absolute;
    top: -1vh;
    transition: 0.2s;
}

button {
    color: #090909;
    padding: 0.5em 1.5em;
    font-size: 1rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
    transform: scale(0.97);
}

.total{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 209, 209);
}

.total h1{
    font-weight: bold;
}

.total h3{
    font-size: 1.8rem;
    color: rgb(144, 212, 43);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.64);
}

.total p{
    margin: 0;
    border-bottom: #313a46 solid 1px;
    width: 20vw;
    color: #47494d;
}

.finalizar{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2rem;
    width: 100%;
    height: 10vh;
    background-color: rgb(110, 164, 28);
}

@media only screen and (min-width: 769px) {

    header {
        display: none;
    }

    .nav-bar-pc {
        width: 100%;
        background-color: rgba(243, 37, 37, 0.945);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .menu-pc ul {
        display: flex;
        flex-direction: row;

    }

    .menu-pc li {
        display: flex;
        padding-right: 5vw;
        font-size: 1.5rem;
        align-items: center;
        font-weight: bold;
    }

    .menu-pc li:hover {
        text-decoration: underline;
    }

    .perfil p {
        border-radius: 5px;
        letter-spacing: 0.2em;
        padding: 0.4vw;
        font-weight: bold;
        font-size: 0.9rem;
        background-color: rgba(113, 20, 20, 0.945);
    }

    .cardapio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .item {
        width: 20vw;
        height: 40vh;
    }

    .imagem img {
        width: 20vw;
        height: 40vh;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0 0;
        grid-auto-flow: row;
        grid-template-areas: "unidade contato" "social maps" "creditos creditos";
        height: 170vh;
    }

    .creditos {
        justify-self: center;
        align-self: center;
        grid-area: creditos;
    }

    .unidade {
        grid-area: unidade;
    }

    .contato {
        grid-area: contato;
    }

    .social {
        grid-area: social;
    }

    .maps {
        grid-area: maps;
    }


    .foto img{
        width: 20vw;
        height: 40vh;
    }

    .produto{
        font-size: 2.5rem;
    }

    .produto p{
        margin: 4vh;
    }

    .quantidade{
        width: 10vw;
    }

    .quantidade p{
        font-size: 2.6rem;
    }

    .quantidade img{
        width: 5vw;
        height: 5vh;
    }

    .caixa-texto{
        padding: 2vw;
    }

    .total{
        font-size: 1.5rem;
    }

    .complementos{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}
