html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: rgba(243, 37, 37, 0.945);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
}

.mostrar-menu {
    cursor: pointer;
}

input.checkbox-menu[type="checkbox"] {
    display: none;
    -webkit-appearance: none;
}

input.checkbox-menu[type="checkbox"]:checked ~ div.menu-recolhivel {
    opacity: 1;
    visibility: visible;
}

.menu-icon {
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
}

.menu-recolhivel {
    display: inline-block;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menu li {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 5px;
}

ul.menu li a {
    color: #000000;
    display: block;
    padding: 5px;
    text-decoration: none;
}

ul.menu li a:hover {
    color: #000000;
    text-decoration: none;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.carrosel {
    position: relative;
}

.carrosel > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 50s infinite;
}

img:nth-child(2) {
    animation-delay: 10s;
}
img:nth-child(3) {
    animation-delay: 20s;
}
img:nth-child(4) {
    animation-delay: 30s;
}
img:nth-child(5) {
    animation-delay: 40s;
}

.intruducao {
    position: relative;
    top: 37vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 0px;
    justify-content: center;
}

.texto { 
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    justify-items: center;
}

.texto h1{
    margin-bottom: 0;
    font-size: 1rem;
    color: #EBC97A;
}

.texto h2{
    margin-top: 0;
    font-size: 2rem;
}

.texto p{
    text-align: justify;
    width: 70%;
}

.texto a{
    color: #880000;
    border: 2px solid #880000;
    padding: 3vw;
    border-radius: 7%;
}


.app{
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
}