html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: rgba(243, 37, 37, 0.945);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 6px;
    background-color: #30471E;
    position: relative;
    top: 60vh;
    padding: 5vw;
}

footer h3{
    font-size: 1.3rem;
    padding-bottom: 2vh;
    border-bottom: #000000 solid 1vw;
    width: 40vw;
    text-align: center;
}

a{
    text-decoration: none;
    color: unset;
}

.mostrar-menu {
    cursor: pointer;
}

input.checkbox-menu[type="checkbox"] {
    display: none;
    -webkit-appearance: none;
}

input.checkbox-menu[type="checkbox"]:checked ~ div.menu-recolhivel {
    opacity: 1;
    visibility: visible;
}

.menu-icon {
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
}

.menu-recolhivel {
    display: inline-block;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menu li {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 5px;
}

ul.menu li a {
    color: #000000;
    display: block;
    padding: 5px;
    text-decoration: none;
}

ul.menu li a:hover {
    color: #000000;
    text-decoration: underline;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.carrosel {
    position: relative;
}

.carrosel img{
    width: 100%;
    height: 70vw;
}

.carrosel > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 50s infinite;
}

img:nth-child(2) {
    animation-delay: 10s;
}
img:nth-child(3) {
    animation-delay: 20s;
}
img:nth-child(4) {
    animation-delay: 30s;
}
img:nth-child(5) {
    animation-delay: 40s;
}

.intruducao {
    position: relative;
    top: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 0px;
    justify-content: center;
}

.texto { 
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    justify-items: center;
}

.texto h1{
    margin-bottom: 0;
    font-size: 1rem;
    color: #EBC97A;
}

.texto h2{
    margin-top: 0;
    font-size: 2rem;
}

.texto p{
    text-align: justify;
    width: 70%;
}

.texto a{
    color: #880000;
    border: 2px solid #880000;
    padding: 3vw;
    border-radius: 7%;
}

.texto a:hover{
    transform: scale(1.1);
}

.foto-pizza{
    display: flex;
    justify-content: center;
}

.aplicativo{
    position: relative;
    top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.aplicativo h2{
    font-size: 1.1rem;
    width: 60vw;
    text-align: center;
    color: #BD3623;
    font-style: oblique;
}

.aplicativo p{
    text-align: justify;
    width: 70%;
}

.app{
    display: flex;
    justify-content: center;
}

.avaliacoes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5vh;
    justify-items: center;
}

.card{
    position: relative;
    top: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A5B2AC;
    border: 5px #707774c1 solid;
    width: 60vw;
    height: 50vh;
    border-radius: 10%;
    padding: 2vh;
    -webkit-box-shadow: 2px 1px 37px 5px rgba(87,94,91,0.82); 
    box-shadow: 2px 1px 37px 5px rgba(87,94,91,0.82);
}

.card:hover{
    transform: scale(1.1);
    border: 5px #65febcc1 solid;
}

.card img{
    width: 80%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.card h4{
    margin: 1vh;
}

.icones{
    display: flex;
    flex-direction: column;
}

.icones img{
    padding: 2vw;
}

.unidade, .contato, .social, .maps,{
    height: 40vh;
}

.unidade, .contato, .social, .maps p{
    font-size: 1.2rem;
}

.creditos{
    height: 10vh;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column-reverse;
}

/* Tablets */

@media only screen and (min-width: 481px)