html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: rgba(243, 37, 37, 0.945);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    width: 100%;
    height: 280vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20vh;
    background-color: #30471E;
    position: relative;
    top: 60vh;
}

footer h3 {
    font-size: 1.3rem;
    padding-bottom: 2vh;
    border-bottom: #000000 solid 1vw;
    width: 40vw;
    text-align: center;
}

a {
    text-decoration: none;
    color: unset;
}

.nav-bar-pc {
    display: none;
}

.mostrar-menu {
    cursor: pointer;
}

input.checkbox-menu[type="checkbox"] {
    display: none;
    appearance: unset;
    -webkit-appearance: none;
}

input.checkbox-menu[type="checkbox"]:checked ~ div.menu-recolhivel {
    opacity: 1;
    visibility: visible;
}

.menu-icon {
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
}

.menu-recolhivel {
    display: inline-block;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menu li {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 5px;
}

ul.menu li a {
    color: #000000;
    display: block;
    padding: 5px;
    text-decoration: none;
}

ul.menu li a:hover {
    color: #000000;
    text-decoration: underline;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.carrosel-pc {
    display: none;
}

.carrosel {
    position: relative;
}

.carrosel img {
    width: 100%;
    height: 45vw;
}

.carrosel > img {
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 50s infinite;
}

img:nth-child(2) {
    animation-delay: 10s;
}
img:nth-child(3) {
    animation-delay: 20s;
}
img:nth-child(4) {
    animation-delay: 30s;
}
img:nth-child(5) {
    animation-delay: 40s;
}

.intruducao {
    position: relative;
    top: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10vh;
    grid-row-gap: 7vh;
    justify-content: center;
}

.texto {
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    justify-items: center;
}

.texto h1 {
    margin-bottom: 0;
    font-size: 1rem;
    color: #EBC97A;
}

.texto h2 {
    margin-top: 0;
    font-size: 2rem;
}

.texto p {
    text-align: justify;
    width: 70%;
}

.texto a {
    color: #880000;
    border: 2px solid #880000;
    padding: 3vw;
    border-radius: 7%;
}

.texto a:hover {
    transform: scale(1.1);
}

.foto-pizza {
    display: flex;
    justify-content: center;
}

.aplicativo {
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aplicativo h2 {
    font-size: 1.1rem;
    width: 60vw;
    text-align: center;
    color: #BD3623;
    font-style: oblique;
}

.aplicativo p {
    text-align: justify;
    width: 70%;
}

.app {
    display: flex;
    justify-content: center;
}

.avaliacoes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10vh;
    justify-items: center;
}

.card {
    position: relative;
    top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A5B2AC;
    border: 5px #707774c1 solid;
    width: 60vw;
    height: 100%;
    border-radius: 10%;
    padding: 2vw;
    -webkit-box-shadow: 2px 1px 37px 5px rgba(87,94,91,0.82);
    box-shadow: 2px 1px 37px 5px rgba(87,94,91,0.82);
}

.card:hover {
    transform: scale(1.1);
    border: 5px #65febcc1 solid;
}

.card img {
    width: 80%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.card h4 {
    margin: 1vh;
}

.icones {
    display: flex;
    flex-direction: column;
}

.icones img {
    padding: 2vw;
}

.contato,
.maps,
.social,
.unidade {
    height: 40vh;
    margin: 2vw;
}

.contato,
.maps p,
.social,
.unidade {
    font-size: 1.2rem;
}

.creditos {
    height: 10vh;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column-reverse;
}

/*sobre css*/

.main {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 5px;
}

.sobre {
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: #A5B2AC solid 0.1vh;
}
.qualidade {
    grid-area: 2 / 1 / 3 / 2;
}
.diferencial {
    grid-area: 3 / 1 / 4 / 2;
}
.galeria {
    grid-area: 4 / 1 / 5 / 2;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: justify;
    max-height: 120vh;
}

.conteudo h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-style: oblique;
    text-align: center;
}

.conteudo p {
    margin: 5vw;
    font-size: 1.2rem;
    color: #999b9b;
}

.imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens img {
    margin-bottom: 5vh;
    border: #999b9b solid 3vw;
    border-radius: 10%;
    transition: 0.5s all ease-in-out;
}

.imagens img:hover {
    transform: scale(1.1);
}

/*contato CSS*/

.background {
    background-color: #471e1e;
    height: 100vh;
    clip-path: ellipse(55vw 35vh at 50% 42%);
}

.Login {
    margin: auto;
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: column;
    background-color: #FFD882;
    max-height: 100%;
    max-width: 90vw;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 7px 7px 10px 3px #B29047;
}

.area-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    padding: 1vw;
}

#chk {
    display: none;
}

.cadastro {
    position: relative;
    width: 100%;
    height: 100%;
}

.cadastro label {
    margin: 10% 0;
}

.formulario {
    color: #000000;
    text-align: center;
    width: 50vw;
    font-size: 3rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.input {
    width: 70vw;
    height: vh;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.area-login button {
    width: 50vw;
    height: 4vh;
    margin: 12px auto 10%;
    color: #fff;
    background: #B29047;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.area-login button:hover {
    background-color: #B29047;
}

/* Tablets */

@media only screen and (min-width: 481px) {
    header {
        width: 100%;
    }

    footer {
        top: 220vh;
    }

    .intruducao {
        top: 150vh;
    }

    .aplicativo {
        top: 160vh;
    }

    .card {
        top: 190vh;
        height: 90vh;
    }

    .card img {
        width: 30%;
    }

    .creditos {
        top: 50vh;
        text-align: center;
    }

    /*sobre css*/

    .conteudo {
        max-height: 150vh;
    }

    footer {
        position: none;
        height: 500vh;
    }

    /*contato CSS*/

    .background {
        clip-path: ellipse(55vw 45vh at 50% 49%);
    }

    .Login {
        max-height: 110vh;
    }
}

/*Desktop*/

@media only screen and (min-width: 769px) {

    header {
        display: none;
    }

    .nav-bar-pc {
        width: 100%;
        background-color: rgba(243, 37, 37, 0.945);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .menu-pc ul {
        display: flex;
        flex-direction: row;

    }

    .menu-pc li {
        display: flex;
        padding-right: 5vw;
        font-size: 1.5rem;
        align-items: center;
    }

    .menu-pc li:hover {
        text-decoration: underline;
    }

    .menu-pc img {
        padding-right: 1vw;
    }

    .carrosel img {
        width: 100%;
        height: 60vh;
    }

    .intruducao {
        top: 70vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0;
    }

    .texto {
        font-size: 1.5rem;
    }

    .texto h1 {
        font-size: 1.7rem;
    }

    .texto h2 {
        font-size: 4rem;
    }

    .texto p {
        width: auto;
        margin-left: 8vw;
        margin-bottom: 15vh;
    }

    .foto-pizza {
        align-items: center;
    }

    .aplicativo {
        top: 100vh;
    }

    .aplicativo h2 {
        font-size: 2rem;
    }

    .app img {
        width: 25vw;
    }

    .avaliacoes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0;
    }

    .card {
        top: 120vh;
        width: 25vw;
        height: 60vh;
        margin: 0;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0 0;
        grid-auto-flow: row;
        grid-template-areas: "unidade contato" "social maps" "creditos creditos";
        top: 130vh;
        height: 170vh;
    }

    .creditos {
        justify-self: center;
        align-self: center;
        grid-area: creditos;
        width: 100%;
    }

    .unidade {
        grid-area: unidade;
    }

    .contato {
        grid-area: contato;
    }

    .social {
        grid-area: social;
    }

    .maps {
        grid-area: maps;
    }

    .creditos {
        top: 20vh;
    }

    /*sobre css*/

    .main {
        margin: 5vw;
        gap: 30vh;
    }

    .conteudo {
        flex-direction: row;
        justify-content: center;
        max-height: 80vh;
    }

    .conteudo > img {
        width: 40vw;
        margin: 5vw;
    }

    .conteudo-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: 40vw;
    }

    .conteudo-texto p {
        margin: 2vh;
    }

    .qualidade > .conteudo {
        display: flex;
        justify-content: space-between;
    }

    .qualidade-paragrafo {
        width: 50vw;
    }

    .galeria > .conteudo {
        flex-direction: column;
    }

    .imagens {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10vw;
        grid-row-gap: 10vh;
    }

    .imagens img {
        border: #999b9b solid 1vw;
        width: 30vw;
    }

    /*contato CSS*/
    .background {
        background-color: #471e1e;
        height: 100vh;
        clip-path: ellipse(25vw 45vh at 50% 52%);
    }
    
    .Login {
        margin: auto;
        position: relative;
        top: 20vh;
        display: flex;
        flex-direction: column;
        background-color: #FFD882;
        max-height: 80vh;
        max-width: 30vw;
        overflow: hidden;
        border-radius: 10%;
        box-shadow: 7px 7px 10px 3px #B29047;
    }
    
    .area-login {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1vh;
        padding: 1vw;
    }
    
    #chk {
        display: none;
    }
    
    .cadastro {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .cadastro label {
        margin: 10% 0;
    }
    
    .formulario {
        color: #000000;
        text-align: center;
        width: 20vw;
        font-size: 3rem;
        justify-content: center;
        display: flex;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    
    .input {
        width: 20vw;
        height: 5vh;
        background: #e0dede;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 4px;
    }
    
    .area-login button {
        width: 15vw;
        height: 4vh;
        margin: 12px auto 10%;
        color: #fff;
        background: #B29047;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.2s ease-in;
    }
    
    .area-login button:hover {
        background-color: #B29047;
    }
}
